body {
    background-color: #98FB98;
}

button {
    width: 20px;
}

h1 {
    color: #778899;
}

p {
    font-size: 26pt;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 4px solid lime;
}
